<div class="form-group">
  <%= f.label :quote, "一言メモ" %>
  <div id="quote-display" class="mb-2"></div>
  <%= text_area_tag "new_quote", nil, class: "form-control", placeholder: "新しい一言メモを入力" %>
  
  <label for="quote_color">メモの色を選択:</label>
  <%= select_tag "quote_color", options_for_select(
    [["赤", "red"], ["青", "blue"], ["黄色", "yellow"], ["緑", "green"], ["黒", "black"], ["白", "white"], ["その他", "custom"]]
  ), class: "form-control mt-2", id: "quote_color_select" %>
  
  <div id="quote_custom_color" style="display: none;">
    <label for="custom_quote_bg_color">カスタム背景色:</label>
    <%= color_field_tag "custom_quote_bg_color", "#000000", class: "form-control mt-2" %>
    <label for="custom_quote_text_color">カスタム文字色:</label>
    <%= color_field_tag "custom_quote_text_color", "#FFFFFF", class: "form-control mt-2" %>
  </div>
  
  <button type="button" id="add-quote" class="btn btn-secondary mt-2">メモを追加</button>
</div>
