<!-- app/views/journals/edit.html.erb -->
<%= render "journals/shared/form_layout" do %>
  <%= render "journals/form_title" %>
  <%= render "journals/form_date" %>
  
  <%= form_with model: @journal, local: true do |f| %>
    <%= render "journals/form_emotion_edit", f: f %>

    <div class="form-group">
      <%= f.label :song, "曲を選択" %>
      <%= text_field_tag :song_query, nil, placeholder: "曲名を入力", class: "form-control" %>
      <%= button_tag "検索", type: :button, class: "btn btn-secondary", onclick: "searchSongs()" %>
      <div id="song-results" class="mt-2"></div>
    </div>

    <div class="form-group">
      <%= f.label :tags, "一言メモ" %>
      <%= f.text_field :tags, class: "form-control", placeholder: "タグを入力" %>
    </div>

    <div class="form-group">
      <%= f.label :public, "公開設定" %>
      <%= f.check_box :public %>
    </div>

    <div class="form-group">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag 'emotion', defer: true %>
