<!-- app/views/journals/new.html.erb -->
<div class="min-h-screen flex flex-col justify-center items-center bg-customblue text-black">
  <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
    <div class="container mx-auto mt-10">
      <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
        <h1 class="text-2xl font-bold text-center mb-6"><%= Date.today.strftime("%m月%d日") %>の日記作成</h1>
        <%= form_with model: @journal, local: true do |f| %>
          <%= render "shared/error_messages", object: @journal %>
          
          <div class="form-control mb-4">
            <label class="label text-center" for="diary_title">Today's Track Title</label>
            <%= f.text_field :title, class: "input input-bordered w-full text-white", id: "diary_title", placeholder: "日記タイトルを入力" %>
          </div>

          <div class="flex justify-center">
            <%= f.submit "リリックを作成(日記詳細ページに飛べます)", class: "btn btn-primary w-full" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
